.cb-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label-text {
    color: var(--text-color);
    font-weight: 600;
}

select {
    background: var(--line-color-200);
    border: 2px solid var(--line-color);
    border-radius: 5px;
    padding: 4px;
}

option {
    color: var(--primary-color);
    background-color: var(--primary-color);
}

select:focus-within {
    outline: 1px solid var(--focus-color);
    opacity: .9;
}
