.table {
  width: 100%;
}

.table-head {
  height: fit-content;
  opacity: 0.9;
  background: #292929;
}

.table-head-row td {
  padding: 14px 24px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.table-body {
  height: fit-content;
}

.table-body-row td {
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #373737;
  cursor: pointer;
}

.table-body-row:nth-child(even) {
  background-color: rgba(109, 144, 166, 0.15);
}

.table-body-row:hover {
  background-color: #eb8f6b;
}

button {
  background-color: transparent;
  border: none;
}