.table {
  width: 100%;
}

.table-head {
  height: fit-content;
  opacity: 0.9;
  background: var(--text-color-500);
}

.table-head-row td {
  padding: 14px 14px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.table-body {
  height: fit-content;
}

.table-body-row {
  cursor: pointer;
}

.table-body-row td {
  padding: 12px 14px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--text-color-500);
}

.table-body-row:nth-child(even) {
  background-color: var(--table-blue-line-color);
}

.table-body-row:hover {
  background-color: var(--focus-color-400);
}

.table-body-row.selected {
  background-color: var(--focus-color-400);
}

button {
  background-color: transparent;
  border: none;
}