.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 120px;
  height: 40px;
  font-size: .8rem;
  font-weight: 700;
  color: black;
  background-color: #D6D6D6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button img {
  width: 24px;
  height: 24px;
}