.alert {
    padding: 16px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 5%
}

.info {
    color: var(--info-text-color);
    background: var(--info-bg-color);
}

.sucess {
    color: var(--success-text-color);
    background: var(--success-bg-color);
}

.warning {
    color: var(--warning-text-color);
    background: var(--warning-bg-color);
}

.error {
    color: var(--error-text-color);
    background: var(--error-bg-color);
}