<div class="dash-area">
  <app-alert></app-alert>
  <h2 class="dash-title">Estoque</h2>
  <h3 class="count-itens-title">{{totalInventory}} lotes</h3>
  <div class="table-actions-bar">
    <app-orangeButton
      routerLink="/inventory/add"
      buttonText="adicionar"
      [icon]="addIcon"
    ></app-orangeButton>
    <app-orangeButton
      buttonText="retirar"
      routerLink="/transaction"
      [icon]="transactionIcon"
    ></app-orangeButton>
    <form #inventorySearchBar="ngForm" class="searchBar" (ngSubmit)="onSearchSubmit(inventorySearchBar.value.searchValue)">
        <app-input
        class="searchBarInput"
        placeholder="Camisas da convenção 2024"
        name="searchValue"
        ngDefaultControl
        ngModel
        ></app-input>
        <app-grayButton buttonText="pesquisar" [icon]="searchIcon" type="submit"></app-grayButton>
    </form>
    <app-grayButton buttonText="exportar" [icon]="exportIcon"
      (click)="exportBatchInfo()"
    ></app-grayButton>
  </div>
  <div class="table-container">
    <app-table [info]="info" [columns]="columns" [columnNames]="columnNames" (onRowClick)="getBatchCodeFromRow($event)"></app-table>
  </div>
  <div class="table-nav-buttons">
    <app-small-button buttonText="anterior"
      (click)="fetchData(false, true)">
    </app-small-button>
    <app-small-button buttonText="proxima"
      (click)="fetchData(true, false)">
    </app-small-button>
  </div>
</div>
