<div class="container">
  <h1 class="title">Configurações</h1>
  <div class="sub-container">
    <div class="config-box">
      <h3>Unidades</h3>
      <app-orangeButton
        buttonText="adicionar"
        routerLink="/settings/unit"
      ></app-orangeButton>
    </div>
    <div class="config-box">
      <h3>Categorias</h3>
      <app-orangeButton
        buttonText="adicionar"
        routerLink="/settings/category"
      ></app-orangeButton>
    </div>
    <div class="config-box">
      <h3>Fornecedores</h3>
      <app-orangeButton
        buttonText="adicionar"
        routerLink="/settings/supplier"
      ></app-orangeButton>
    </div>
  </div>
</div>
