<body>
    <app-sidebar></app-sidebar>
    <div class="dash-area">
        <h2 class="dash-title">Estoque</h2>
        <h3 class="count-itens-title">72 itens</h3>
        <div class="table-actions-bar"> 
            <app-orangeButton buttonText="adicionar" [icon]="addIcon"></app-orangeButton>
            <app-orangeButton buttonText="remover" [icon]="removeIcon"></app-orangeButton>
            <input type="search" class="search-input">
            <app-grayButton buttonText="pesquisar" [icon]="searchIcon"></app-grayButton>
            <app-grayButton buttonText="exportar" [icon]="exportIcon"></app-grayButton>
        </div>
        <div class="table-container">
            <app-table></app-table>
        </div>
        <div class="table-nav-buttons">
            <app-small-button buttonText="anterior"></app-small-button>
            <app-small-button buttonText="proxima"></app-small-button>
        </div>
    </div>
</body>

