.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 4rem 0 4rem;
    width: 100%;
    height: 100%;
    text-align: left;
}

.addbatch-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 4.5rem;
}

.forms-box {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.uniform-select-itens {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.add-batch-form {
    padding: 1.5rem;
}

.add-uniform-form {
    padding: 1.5rem;
    background-color: var(--line-color-200);
    border-radius: 6px;
}

.uniform-stack {
    margin-top: 2rem;
    height: 10rem;
    background-color: white;
    border: 2px solid var(--line-color);
    overflow-y: auto;
}

.table {
    width: 100%;
}

.table-head-row td {
    font-size: 14px;
    color: white;
    font-weight: 600;
    padding: 6px 0;
}

.table-head-row {
    text-align: center;
    background-color: var(--text-color-400);
}

.table-body-row td {
    padding: 8px 8px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color-400);
}

.table-body-row:nth-child(even) {
    background-color: var(--table-blue-line-color);
}