input {
    border: transparent;
    border-radius: 4px;
    outline: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-box {
    border: 2px solid #7a7a7a;
    border-radius: 4px;
    padding: 4px;
}

.input-box:focus-within {
    outline: 2px solid #F27516;
    opacity: .9;
}

.label-text {
    color:#3f3f3f;
    font-weight: 600;
}