input {
    border: transparent;
    border-radius: 4px;
    outline: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-box {
    border: 2px solid var(--line-color);
    border-radius: 4px;
    padding: 4px;
}

.input-box:focus-within {
    outline: 2px solid var(--focus-color);
    opacity: .9;
}

.label-text {
    color: var(--text-color-400);
    font-weight: 600;
}
