input {
    border: transparent;
    border-radius: 4px;
    outline: none;
}

.input-box {
    margin: 5rem;
    border: 2px solid #7a7a7a;
    border-radius: 4px;
    padding: 4px;
}

.input-box:focus-within {
    outline: 2px solid #F27516;
    opacity: .9;
}