<div class="sidebar">
  <a class="logo-link" routerLink="/">
    <h1 class="logo">Uni<span>formix</span></h1>
  </a>
  <div class="nav-buttons">
    <button
      class="nav-button"
      routerLink="/inventory"
      [ngClass]="{
        'nav-button': true,
        'active-button': activeButton === 'Estoque'
      }"
      (click)="markAsActive('Estoque')"
    >
      <img src="../../../assets/icons/Clothes icon.svg" alt="Clothes icon" />
      Estoque
    </button>
    <button
      class="nav-button"
      routerLink="/history"
      [ngClass]="{
        'nav-button': true,
        'active-button': activeButton === 'Histórico'
      }"
      (click)="markAsActive('Histórico')"
    >
      <img src="../../../assets/icons/history.svg" alt="History icon" />
      Histórico
    </button>
    <button
      class="nav-button"
      routerLink="/user"
      [ngClass]="{
        'nav-button': true,
        'active-button': activeButton === 'Usuário'
      }"
      (click)="markAsActive('Usuário')"
    >
      <img src="../../../assets/icons/User icon.svg" alt="User icon" />
      Usuário
    </button>
    <button
      class="nav-button"
      routerLink="/settings"
      [ngClass]="{
        'nav-button': true,
        'active-button': activeButton === 'Configurações'
      }"
      (click)="markAsActive('Configurações')"
    >
      <img
        src="../../../assets/icons/Config icon.svg"
        alt="Configurations icon"
      />
      Configurações
    </button>
  </div>
</div>
