.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 16rem;
  height: 100%;
  padding-top: 4.5rem;
  background-color: rgba(109, 144, 166, 0.05);
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
}

.logo span {
  color: var(--primary-color);
  margin: 0;
}

.logo-link{
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 1rem;
}

.nav-button {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 14px;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-button img {
  width: 24px;
  height: 24px;
}

.nav-button:hover {
  color: var(--primary-color);
}

.active-button {
  color: var(--primary-color);
}